<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input id="url" type="text" name="input" value="" placeholder="URL" />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results">
          <p id="text"></p>
          <p id="model"></p>
          <p id="score_tag"></p>
          <p id="agreement"></p>
          <p id="subjectivity"></p>
          <p id="confidence"></p>
          <p id="irony"></p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2021-05-16</p>
    </footer>
  </body>
</html>
